{% extends "admin_base.html" %}

{% block headline %}'{{ category.name }}' Edit{% endblock %}

{% block admin_content %}
<!-- Settings forms -->
<div class="divide-y divide-white/5">
	<div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-4 sm:px-6 md:grid-cols-3 lg:px-8">
		<div>
			<h2 class="text-base/7 font-semibold text-white">Edit Information</h2>
		</div>

		<form class="md:col-span-2" hx-put="/admin/categories/{{ category.id }}">
			<div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
				<input type="hidden" name="id" id="id" value="{{ category.id }}">
				<div class="col-span-full flex items-center gap-x-8">
					<img id="image_preview" src="{{ category.image_url }}"
						class="size-24 flex-none rounded-lg bg-gray-800 object-cover">
				</div>

				<div class="sm:col-span-full">
					<label for="image_url" class="block text-sm/6 font-medium text-white">Image
						Url</label>
					<div class="mt-2">
						<input type="text" name="image_url" id="image_url"
							_="on input debounced at 300ms set #image_preview.src to my value"
							value="{{ category.image_url }}"
							class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
					</div>
				</div>

				<div class="sm:col-span-full">
					<label for="name" class="block text-sm/6 font-medium text-white">Name</label>
					<div class="mt-2">
						<input type="text" name="name" id="name" value="{{ category.name }}"
							class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
					</div>
				</div>

				<div class="col-span-full">
					<label for="category_type"
						class="block text-sm/6 font-medium text-white">Type</label>
					<div class="mt-2 grid grid-cols-1">
						<select id="category_type" name="category_type"
							class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white/5 py-1.5 pr-8 pl-3 text-base text-white outline-1 -outline-offset-1 outline-white/10 *:bg-gray-800 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
							<option {%if
								category.category_type==crate::categories::CategoryType::Audiobook
								%}selected{%else%}{%endif%}>audiobook</option>
							<option {%if
								category.category_type==crate::categories::CategoryType::Music
								%}selected{%else%}{%endif%}>music</option>
						</select>
						<svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-400 sm:size-4"
							viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"
							data-slot="icon">
							<path fill-rule="evenodd"
								d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
								clip-rule="evenodd" />
						</svg>
					</div>
				</div>
				<div class="sm:col-span-full">
					<label for="visible"
						class="block text-sm/6 font-medium text-white">Visible</label>
					<div class="mt-2">
						<input type="checkbox" name="visible" id="visible"
							value="{{ category.visible }}" {% if category.visible %} checked
							{% endif %} _="on change set my.value to my.checked"
							class="block bg-white/5 px-3 py-1.5  outline-1 -outline-offset-1 outline-white/10 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500">
					</div>
				</div>
			</div>

			<div class="mt-8 flex">
				<button type="submit"
					class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
			</div>
		</form>
	</div>

	{% include "admin_image_selection.html" %}

	<div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
		<div>
			<h2 class="text-base/7 font-semibold text-white">Add Entries</h2>
		</div>

		<form class="md:col-span-2" hx-post="/admin/categories/{{ category.id }}/entries"
			hx-target="#partial_entry_list_container">
			<div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
				<div class="sm:col-span-full">
					<label for="spotify_urls" class="block text-sm/6 font-medium text-white">Spotify
						Url</label>
					<div class="mt-2">
						<textarea name="spotify_urls" rows="10" id="spotify_urls"
							class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"></textarea>
					</div>
				</div>
			</div>

			<div class="mt-8 flex">
				<button type="submit"
					class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
			</div>
		</form>
	</div>

	<div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
		<div>
			<h2 class="text-base/7 font-semibold text-white">Associated Entries</h2>
		</div>

		<div class="col-span-2" id="partial_entry_list_container">
			{% include "admin_partial_entry_list.html" %}
		</div>

	</div>
	<div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
		<div>
			<h2 class="text-base/7 font-semibold text-white">Delete category</h2>
		</div>

		<form hx-delete="/admin/categories/{{ category.id }}" class="flex items-start md:col-span-2">
			<button type="submit"
				class="rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-400">Yes,
				delete this category</button>
		</form>
	</div>
</div>
{% endblock %}
