{% extends "admin_base.html" %}

{% block headline %}'{{ entry.name }}' Edit{% endblock %}

{% block admin_content %}
<!-- Settings forms -->
<div class="divide-y divide-white/5">
	<div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
		<div>
			<h2 class="text-base/7 font-semibold text-white">Edit Information</h2>
		</div>

		<form class="md:col-span-2" hx-put="/admin/entries/{{ entry.id }}">
			<div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
				<input type="hidden" name="id" id="id" value="{{ entry.id }}">
				<div class="col-span-full flex items-center gap-x-8">
					<img id="image_preview" src="{{ entry.image_url }}"
						class="size-24 flex-none rounded-lg bg-gray-800 object-cover">
				</div>

				<div class="sm:col-span-full">
					<label for="spotify_url" class="block text-sm/6 font-medium text-white">Spotify
						Url</label>
					<div class="flex mt-2">
						<button type="button"
							class="flex shrink-0 items-center gap-x-1.5 rounded-l-md bg-white/5 text-white px-3 py-2 text-sm font-semibold text-gray-900 outline-1 -outline-offset-1 outline-white/10 hover:bg-white/20 focus:relative focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600"
							_="on click
							writeText(#spotify_url's value) on navigator.clipboard">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
								fill="currentColor"
								class="-ml-0.5 size-4 text-gray-400">
								<path fill-rule="evenodd"
									d="M10.5 3A1.501 1.501 0 0 0 9 4.5h6A1.5 1.5 0 0 0 13.5 3h-3Zm-2.693.178A3 3 0 0 1 10.5 1.5h3a3 3 0 0 1 2.694 1.678c.497.042.992.092 1.486.15 1.497.173 2.57 1.46 2.57 2.929V19.5a3 3 0 0 1-3 3H6.75a3 3 0 0 1-3-3V6.257c0-1.47 1.073-2.756 2.57-2.93.493-.057.989-.107 1.487-.15Z"
									clip-rule="evenodd" />
							</svg>

						</button>
						<input type="text" name="spotify_url" id="spotify_url"
							value="{{ entry.spotify_url }}"
							class="block w-full rounded-r-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
					</div>
				</div>

				<div class="sm:col-span-full">
					<label for="image_url" class="block text-sm/6 font-medium text-white">Image
						Url</label>
					<div class="mt-2">
						<input type="text" name="image_url" id="image_url"
							_="on input debounced at 300ms set #image_preview.src to my value"
							value="{{ entry.image_url }}"
							class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
					</div>
				</div>

				<div class="sm:col-span-full">
					<label for="name" class="block text-sm/6 font-medium text-white">Name</label>
					<div class="mt-2">
						<input type="text" name="name" id="name" value="{{ entry.name }}"
							class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
					</div>
				</div>

				<div class="col-span-full">
					<label for="entry_type"
						class="block text-sm/6 font-medium text-white">Type</label>
					<div class="mt-2 grid grid-cols-1">
						<select id="entry_type" name="entry_type"
							class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white/5 py-1.5 pr-8 pl-3 text-base text-white outline-1 -outline-offset-1 outline-white/10 *:bg-gray-800 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
							<option {%if
								entry.entry_type==crate::entries::EntryType::Playlist
								%}selected{%else%}{%endif%}>playlist</option>
							<option {%if entry.entry_type==crate::entries::EntryType::Album
								%}selected{%else%}{%endif%}>album</option>
						</select>
						<svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-400 sm:size-4"
							viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"
							data-slot="icon">
							<path fill-rule="evenodd"
								d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
								clip-rule="evenodd" />
						</svg>
					</div>
				</div>
				<div class="sm:col-span-full">
					<label for="visible"
						class="block text-sm/6 font-medium text-white">Visible</label>
					<div class="mt-2">
						<input type="checkbox" name="visible" id="visible"
							value="{{ entry.visible }}" {% if entry.visible %} checked {%
							endif %} _="on change set my.value to my.checked"
							class="block bg-white/5 px-3 py-1.5  outline-1 -outline-offset-1 outline-white/10 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500">
					</div>
				</div>
				<div class="col-span-full">
					<label for="category_id"
						class="block text-sm/6 font-medium text-white">Category</label>
					<div class="mt-2 grid grid-cols-1">
						<select id="category_id" name="category_id"
							class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white/5 py-1.5 pr-8 pl-3 text-base text-white outline-1 -outline-offset-1 outline-white/10 *:bg-gray-800 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
							<option value="">None</option>
							{% for category in categories %}
							<option value="{{ category.id }}" {% if let
								Some(cid)=entry.category_id %} {% if
								cid.to_string()==category.id.to_string() %}selected{%
								endif %}{% endif %}>
								{{ category.name }}</option>
							{% endfor %}
						</select>
						<svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-400 sm:size-4"
							viewBox="0 0 16 16" fill="currentColor" aria-hidden="true"
							data-slot="icon">
							<path fill-rule="evenodd"
								d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z"
								clip-rule="evenodd" />
						</svg>
					</div>
				</div>
				<div class="sm:col-span-full">
					<label for="play_count" class="block text-sm/6 font-medium text-white">Play
						Count</label>
					<div class="mt-2">
						<input type="number" min="0" name="play_count" id="play_count"
							value="{{ entry.play_count }}"
							class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
					</div>
				</div>


				<input type="hidden" name="spotify_uri" id="spotify_uri"
					value="{{entry.spotify_uri}}" />
				<input type="hidden" name="spotify_id" id="spotify_id" value="{{entry.spotify_id}}" />
				<input type="hidden" name="blob" id="blob" value="{{entry.blob}}" />
			</div>

			<div class="mt-8 flex">
				<button type="submit"
					class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
			</div>
		</form>
	</div>

	{% include "admin_image_selection.html" %}



	<div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
		<div>
			<h2 class="text-base/7 font-semibold text-white">Delete entry</h2>
		</div>

		<form hx-delete="/admin/entries/{{ entry.id }}" class="flex items-start md:col-span-2">
			<button type="submit"
				class="rounded-md bg-red-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-400">Yes,
				delete this entry</button>
		</form>
	</div>
</div>
{% endblock %}
