<div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-4 sm:px-6 md:grid-cols-3 lg:px-8">
	<div>
		<h2 class="text-base/7 font-semibold text-white">Update Image</h2>
	</div>

	<form hx-post="/admin/image-selection" hx-target="#image_selection" hx-swap="innerHTML" class="md:col-span-2">
		<div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
			<div class="col-span-full">
				<label for="spotify_url" class="block text-sm/6 font-medium text-white">Spotify
					Url</label>
				<div class="mt-2">
					<input id="spotify_url" name="spotify_url" type="text"
						class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6">
				</div>
			</div>
		</div>

		<div class="mt-8 flex">
			<button type="submit"
				class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Load</button>
		</div>
	</form>
	<div></div>
	<div id="image_selection" class="w-full md:col-span-2"></div>
</div>
