{% extends "admin_base.html" %}

{% block headline %}Usage{% endblock %}

{% block admin_content %}
<div class="grid grid-cols-1 gap-px bg-white/5 sm:grid-cols-2 lg:grid-cols-4">
	<div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
		<p class="text-sm/6 font-medium text-gray-400">Number of categories</p>
		<p class="mt-2 flex items-baseline gap-x-2">
			<span class="text-4xl font-semibold tracking-tight text-white">{{ category_count }}</span>
		</p>
	</div>
	<div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
		<p class="text-sm/6 font-medium text-gray-400">Number of entries</p>
		<p class="mt-2 flex items-baseline gap-x-2">
			<span class="text-4xl font-semibold tracking-tight text-white">{{ entry_count }}</span>
		</p>
	</div>
	<div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
		<p class="text-sm/6 font-medium text-gray-400">Times played</p>
		<p class="mt-2 flex items-baseline gap-x-2">
			<span class="text-4xl font-semibold tracking-tight text-white">{{ play_count }}</span>
		</p>
	</div>
	<div class="bg-gray-900 px-4 py-6 sm:px-6 lg:px-8">
		<!-- <p class="text-sm/6 font-medium text-gray-400">Success rate</p> -->
		<!-- <p class="mt-2 flex items-baseline gap-x-2"> -->
		<!-- 	<span class="text-4xl font-semibold tracking-tight text-white">98.5%</span> -->
		<!-- </p> -->
	</div>
</div>

{% endblock %}
