{% extends "admin_base.html" %}

{% block headline %}Create{% endblock %}

{% block admin_content %}
<div class="divide-y divide-white/5">
	<div class="grid max-w-7xl grid-cols-1 gap-x-8 gap-y-10 px-4 py-16 sm:px-6 md:grid-cols-3 lg:px-8">
		<div>
			<h2 class="text-base/7 font-semibold text-white">Edit Information</h2>
		</div>

		<form class="md:col-span-2" hx-post="/admin/entries/new">
			<div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:max-w-xl sm:grid-cols-6">
				<div class="sm:col-span-full">
					<label for="spotify_urls" class="block text-sm/6 font-medium text-white">Spotify
						Url</label>
					<div class="mt-2">
						<textarea name="spotify_urls" rows="10" id="spotify_urls"
							class="block w-full rounded-md bg-white/5 px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-white/10 placeholder:text-gray-500 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-500 sm:text-sm/6"></textarea>
					</div>
				</div>
			</div>

			<div class="mt-8 flex">
				<button type="submit"
					class="rounded-md bg-indigo-500 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-indigo-400 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500">Save</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}
