<!doctype html>
<html lang="en" class="h-full bg-gray-900">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<title>{% block title %}{% endblock %}</title>
	<link href="/public/css/output.css" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="/public/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="/public/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/public/icons/favicon-16x16.png">
	<link rel="manifest" href="/public/manifest.json" />
	<script src="/public/js/hyperscript.js"></script>
	<script src="/public/js/htmx.js"></script>
	{% block head %}{% endblock %}
</head>

<html>


<body class="h-full">
	{% block content %}{% endblock %}
</body>

{% block scripts %}{% endblock %}

</html>
