<div
	class="fixed z-50 w-full h-16 max-w-lg -translate-x-1/2 bg-gray-300 border border-gray-900 rounded-full bottom-4 left-1/2">
	<div class="grid h-full max-w-lg grid-cols-4 mx-auto">
		<a href="/audiobook/categories"
			class="col-span-2 inline-flex flex-col items-center justify-center text-gray-400 px-5 rounded-s-full hover:bg-gray-800 group"
			_="on load if window.location.href.includes('audiobook') then add .bg-sky-700 to me">
			<img src="/public/icons/audio-book.png" class="size-12" />
		</a>
		<a href="/music/categories"
			class="col-span-2 inline-flex flex-col items-center justify-center text-gray-400 px-5 rounded-e-full hover:bg-gray-800 group"
			_="on load if window.location.href.includes('music') then add .bg-sky-700 to me">
			<img src="/public/icons/musical-notes.png" class="size-12" />
		</a>
	</div>
</div>
