{% extends "base.html" %}

{% block title %}RSKiP{% endblock %}

{% block head %}
<link rel="manifest" href="/public/manifest.json" />
{% endblock %}

{% block content %}
<form hx-post="/{{ category_type }}/categories/{{ category_id }}/entries/{{entry_id}}">
	<div class="p-8 grid grid-cols-4 gap-x-2 gap-y-10">
		<div class="col-span-4 flex justify-center">
			<img src="{{image_url}}" class="rounded-lg">
		</div>
		{% for (i, room) in rooms.iter().enumerate() %}
		{% if i == 0 || i == 2 %}<div></div>{%endif%}
		<div class="overflow-hidden">
			<label for="{{room}}" class="flex justify-center p-2 rounded-lg bg-gray-500">
				<img id="{{room}}-img" src="/public/icons/rooms/{{room}}.png" class="grayscale">
			</label>
			<input id="{{room}}" name="room" value="{{room}}" type="radio" class="hidden" _="on change from closest <form/>
					if I match <:checked/> then
						remove .grayscale from #{{room}}-img
						remove .bg-gray-500 from previous <label/>
						add .bg-gray-100 to previous <label/>
					else
						add .grayscale to #{{room}}-img
						add .bg-gray-500 to previous <label/>
						remove .bg-gray-100 from previous <label/>
					end">
		</div>
		{% if i == 1 %}<div></div>{%endif%}
		{% endfor %}
	</div>
	<div
		class="fixed z-50 w-full h-16 max-w-lg -translate-x-1/2 bg-gray-300 border border-gray-900 rounded-full bottom-4 left-1/2">
		<div class="grid h-full max-w-lg grid-cols-4 mx-auto">
			<button type="button" _="on click go back"
				class="col-span-2 inline-flex flex-col items-center justify-center px-5 rounded-s-full hover:bg-gray-800 group">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
					class="text-red-600 size-12">
					<path fill-rule="evenodd"
						d="M7.72 12.53a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 1 1 1.06 1.06L9.31 12l6.97 6.97a.75.75 0 1 1-1.06 1.06l-7.5-7.5Z"
						clip-rule="evenodd" />
				</svg>
			</button>
			<button type="submit" disabled
				class="col-span-2 inline-flex flex-col items-center justify-center px-5 rounded-e-full hover:bg-gray-800 group disabled:bg-gray-500 text-green-600 disabled:text-white"
				_="on change from closest <form/>
				if (<:checked/>).length > 0
					remove @disabled
				else
					add @disabled
                                end">
				<svg viewBox="0 0 24 24" fill="currentColor" class="size-12">
					<path fill-rule="evenodd"
						d="M4.5 5.653c0-1.427 1.529-2.33 2.779-1.643l11.54 6.347c1.295.712 1.295 2.573 0 3.286L7.28 19.99c-1.25.687-2.779-.217-2.779-1.643V5.653Z"
						clip-rule="evenodd" />
				</svg>
			</button>
		</div>
	</div>
</form>
{% endblock %}
